<mat-toolbar>
  <span>Panel Quotation</span>
</mat-toolbar>
<div class="content">
  <div class="quotation" *ngIf="carSelected; else no_content">
    <span>{{ carSelected.title }}</span>
    <div class="image">
      <img *ngIf="carSelected.images" [src]="carSelected.images" alt="image" />
      <span *ngIf="!carSelected.images">Pas d'image</span>
    </div>

    <span> Description : {{ carSelected.description }}</span>
    <span> User : {{ getUser(carSelected.id_user)?.email }}</span>
    <div>
      <input
        type="number"
        placeholder="price"
        [(ngModel)]="carSelected.price"
      />
      <button (click)="updateQuotation()">Save</button>
    </div>
  </div>
  <ng-template #no_content>
    <div class="quotation">
      <h3>Please select car on the right</h3>
    </div>
  </ng-template>
  <div class="list">
    <div *ngFor="let quotation of quotationsCollectiondata">
      <div class="cards" (click)="selectCar(quotation.id)">
        <img *ngIf="quotation.images" [src]="quotation.images" alt="image" />
        <span *ngIf="!quotation.images">
          {{ quotation.title }}
        </span>
      </div>
    </div>
  </div>
</div>
